---
title: 'Коллекция словесных игр'
layout: layout
---

section
  h1(id="top")!=title
  ul
    each game in collections.games
      li
        strong
          a(href='#'+game.fileSlug)!=game.data.title

each game in collections.games
  section
    h2(id=game.fileSlug)
      a(href=game.url)!=game.data.title
    p!=game.templateContent

a.toTop(href="#top") △